/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/*
* {
   outline: 1px solid rgb(43, 156, 128);
}
*/
body {
  background-color: var(--bg-color, #000028);
  font-family: var(--main-font, Arial, Helvetica, sans-serif);
}

body.theme_auto {
  background-color: var(--bg-color, #000028);
  font-family: var(--main-font, Arial, Helvetica, sans-serif);
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    --nav-color: #ff0070;
    --decore-elements: #ff0070;
    --main-font: 'IBM Plex mono', Arial, Helvetica, sans-serif;
    --text-color: #f1b2ce;
    --bg-color: #000028;
    --accent-color: #ff0070;
    --decore-color: #db00ff;
    --header-image: url(../images/cover-image-dark.png);
    --section-main-title: #ff0070;
    --heading-text-color: #000028;
    --header-title-color: #ff0070;
    --outline-opacity: #ff007066;
  }
}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
    --nav-color: #353430;
    --decore-elements: #353430;
    --main-font: 'IBM Plex mono', Arial, Helvetica, sans-serif;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --decore-color: #ffc2e6;
    --header-image: url(../images/cover-image-light.png);
    --section-main-title: #353430;
    --heading-text-color: #353430;
    --header-title-color: #ffc2e6;
    --outline-opacity: #35343066;
  }
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font, Arial, Helvetica, sans-serif);
  background-color: var(--bg-color, #000028);
}
/*----------------------------------------------------------------BUTTON*/
.header__theme-menu-button {
  border: none;
  color: var(--nav-color);
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  font-family: inherit;
  padding-inline: 13px;
  padding-block: 1.5px;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-opacity);
  border: none;
}

.header__theme-menu-button:focus {
  border-block-end: 1px solid var(--nav-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-color);
  border: none;
}

.content__paragraph a:hover {
  border-block-end: 1px solid var(--text-color);
}

.content__paragraph a:focus {
  border: 1px solid var(--text-color);
}
/*----------------------------------------------------------------HEADER*/
.header {
  position: relative;
  /*display: flex;*/
  /*flex-direction: column;*/
  display: grid;
  grid-auto-rows: 1fr auto 1fr;
  padding: 10px;
  /*height:100%;*/
  height: 100vh;
  min-height: 668px;
  gap: 55px; /*57px*/
}

.header::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--decore-elements);
  border-block-start: 1px solid var(--decore-elements);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.header::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decore-elements);
  border-block-end: 1px solid var(--decore-elements);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__title {
  color: var(--header-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  /*padding-block: 64px 54px;*/

  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.title-decor {
  text-shadow: 4px 4px 0px var(--accent-color);
  color: var(--decore-color);
}

.decorated-zone {
  background-image: var(--header-image);
  background-repeat: no-repeat;
  background-position: center;
  object-position: center;
}

.decorated-text {
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px; /* 138.889% */
  position: absolute;
  display: flex;
  justify-content: end;
  inset-inline-end: 30px;
  inset-block-start: 10px;
}

.decorated-text::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  position: relative;
  inset-inline-end: -11px;
  inset-block-start: 9px;
  box-shadow: 0px 0px 4px 1px var(--accent-color);
}

.theme_light div.decorated-text {
  display: none;
}

.header__theme-menu {
  display: flex;
  text-align: center;
  justify-content: end;
  padding-block-start: 66px; /*68px*/
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  font-style: inherit;
}

.header__theme-menu-list {
  display: flex;
  gap: 15px; /*10px*/
  flex-direction: column;
  justify-content: start;
}

.header__theme-menu-item {
  list-style: none;
  /*height: 26px;*/
  width: 70px;
}

.header__text {
  /* padding-block-end: 57px; /*56px*/
  display: flex;
  justify-content: end;
}

.section__main_title {
  color: var(--section-main-title);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  /*margin-block-end: 20px;*/
  margin-block-end: 0px;
}

.heading {
  color: var(--heading-text-color);
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
  background-color: var(--accent-color);
}

.header__subtitle {
  font-weight: 700;
  display: flex;
  justify-content: end;
  width: 355px;
  height: 117px;
}
/*----------------------------------------------------------------CONTENT*/
.content {
  display: flex;
  gap: 50px;
  flex-direction: column;
  padding-inline: 10px;
  margin-block-start: 40px;
}

.content__title {
  font-weight: 700;

  margin-block-start: 20px;
}

.section__images .content__title {
  margin-block-start: 0;
}

.content__subtitle {
  font-weight: 400;
  margin-block-start: 20px;
}

.content__paragraph {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
  margin-block-start: 10px;
}

.content__text-block:not(:last-child) {
  margin-block-end: 20px;
}

.content__paragraph a {
  text-decoration: none;
  color: inherit;
  text-shadow: 1px 1px 0px var(--accent-color);
}

.content__images-block {
  margin-block-start: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.block__images li img {
  max-width: 100%;
}

.card__image img {
  background-repeat: no-repeat;
  background-position: center;
  object-position: center;
}
/*----------------------------------------------------------------FOOTER*/
.footer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 40px;
  position: relative;
  padding: 10px;

  /*height:100%;*/
  height: 100vh;
  min-height: 667px;
}

.footer::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--decore-elements);
  border-block-start: 1px solid var(--decore-elements);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.footer::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decore-elements);
  border-block-end: 1px solid var(--decore-elements);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  /* padding-block: 276px; */
}
/*-------------------------------------------------------------------------------------768px <= width < 1024px-------------------------------------*/
@media (375px <= width < 768px) {
  .page {
    display: block;
    max-width: 100%;
  }
}
/*--------------------------------------------------------------------------------------768px <= width < 1024px------------------------------------*/
@media (768px <= width < 1024px) {
  /*(48em <= width < 64em)*/
  /* Стили для размеров экрана от 768px до 1024px */
  .page {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  /*----------------------------------------------------------------HEADER*/
  .header {
    width: 100%;
    position: relative;
    display: grid;
    grid-auto-rows: 1fr auto 1fr;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*padding: 20px;*/

    height: 100vh;
    min-height: 1024px;
    gap: 163px;
    padding: 0px;
  }

  .header::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .header::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    /*margin-inline-start: -20px;*/
    /*padding-block: 173px 161px;*/

    display: flex;
    justify-content: start;
  }

  .decorated-zone {
    background-size: cover;
  }

  .decorated-text {
    inset-inline-end: 40px;
    inset-block-start: 20px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: end;
    /*padding-block-end: 176px;*/
    padding-block-start: 194px; /*173px*/

    padding-inline: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 15px; /*10px*/
    flex-direction: column;
  }

  .header__theme-menu-item {
    list-style: none;
  }

  .header__theme-menu-button {
    position: relative;
  }

  .header__text {
    padding-block-end: 0px;

    padding-inline: 20px;

    display: flex;
    align-items: start;
    justify-content: flex-end;
  }

  .header__subtitle {
    width: 364px;
  }
  /*----------------------------------------------------------------CONTENT*/
  .content {
    padding-inline: 20px;
    margin-block-start: 60px;
    gap: 80px;
  }

  .content__title {
    /* margin-block-start: 20px; */
    margin-block-start: 0px;
  }

  .content__title p:not(:first-child) {
    margin-block-start: 0;
  }
  /*----------------------------------------------------------------SECTION__BLOCK-TEXT*/
  .section__block-text {
    display: grid;
    gap: 20px; /* gap: 0 20px;  */
    grid-template-columns: min(236px) min(432px);
  }

  .content__text-block:not(:last-child) {
    margin-block-end: 0px;
  }
  /*----------------------------------------------------------------SECTION__BLOCK-TEXT_TWO-COLUMNS*/
  .section__block-text_two-columns {
    display: grid;
    grid-template-columns: min(236px) min(432px);
  }

  .content__text-block_center {
    grid-column: 1 / span 3;
  }

  .content__text-block_between {
    grid-column: 2 / span 3;
  }

  .content__subtitle {
    margin-block-start: 0;
  }

  .content__subtitle:not(:first-child) {
    margin-block-start: 20px;
  }
  /*----------------------------------------------------------------CONTENT__IMAGES-BLOCK*/
  .content__images-block {
    display: grid;
    margin-block-start: 20px;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }

  .content__images-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image__sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 1;
  }

  .image__ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .image__tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .image__books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .image__street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  /*----------------------------------------------------------------FOOTER*/
  .footer {
    margin-block-start: 60px;

    padding: 20px;
    height: 100vh;
    min-height: 1024px;
  }

  .footer__title {
    display: flex;
    justify-content: center;
    /* padding-block: 452px; */
  }

  .footer::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .footer::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }
}
/*--------------------------------------------------------------------------------------------1024px <= width-------------------------------------*/
@media (1024px <= width < 1440px) {
  /*(64em <= width < 75em)*/
  /* Стили для размеров экрана от 1024px до ~~?~~px */
  .page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  /*----------------------------------------------------------------HEADER*/
  .header {
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    display: grid;
    /*grid-auto-rows: 1fr auto 1fr;*/
    padding: 20px;

    height: 100vh;
    min-height: 768px;
    gap: 2px;
    grid-template-rows: 1fr auto 1fr;
  }

  .header::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .header::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__title {
    font-size: clamp(9.8125rem, 9.8125rem + 0vw, 9.8125rem);
    margin-inline-start: -20px;
    /* padding-block: 276px 114px; */
  }

  .decorated-zone {
    background-size: cover;
  }

  .decorated-text {
    inset-inline-end: 40px;
    inset-block-start: 20px;
  }

  .header__theme-menu {
    justify-content: center;
    padding-block-start: 0;
  }

  .header__theme-menu-list {
    gap: 11px;
    flex-direction: row;
  }

  .header__theme-menu-item {
    list-style: none;
  }

  .header__text {
    padding-block-end: 0px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header__subtitle {
    min-width: 490px;
    height: 71px;
  }
  /*----------------------------------------------------------------CONTENT*/
  .content {
    padding-inline: 20px;
    margin-block-start: 60px;
    gap: 80px;
  }

  .content__title {
    /* margin-block-start: 20px; */
    margin-block-start: 0px;
  }

  .content__title p:not(:first-child) {
    margin-block-start: 0;
  }

  /*----------------------------------------------------------------SECTION__BLOCK-TEXT*/
  .section__block-text {
    display: grid;
    gap: 20px; /*0 20px*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
  }
  /*----------------------------------------------------------------SECTION__BLOCK-TEXT_TWO-COLUMNS*/
  .section__block-text_two-columns {
    display: grid;
    gap: 0 20px;
    grid-template-columns: minmax(257px, auto) minmax(432px, max-content);
  }

  .content__text-block_center {
    grid-row: 2;
  }

  .content__text-block_between {
    grid-column: 2 / span 3;
  }

  .content__subtitle {
    margin-block-start: 0;
  }

  .content__subtitle:not(:first-child) {
    margin-block-start: 20px;
  }
  /*----------------------------------------------------------------CONTENT__IMAGES-BLOCK*/
  .content__images-block {
    display: grid;
    margin-block-start: 20px;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }

  .content__images-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image__sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 1;
  }

  .image__ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .image__tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .image__books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .image__street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  /*----------------------------------------------------------------FOOTER*/
  .footer {
    margin-block-start: 60px;
   
    padding: 20px;
    height: 100vh;
    min-height: 768px;
  }

  .footer__title {
    font-size: clamp(9.8125rem, 9.8125rem + 0vw, 9.8125rem);
    display: flex;
    justify-content: center;
    /* padding-block: 309px; */
  }

  .footer::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .footer::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }
}
